<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burgers</title>
</head>
<style>
    body {
        background-color: rgb(255, 204, 0);
    }

    h1 {
        color: rgb(255, 60, 0)
    }

    .output {
        max-width: 300px;
    }

    .munch {
        max-width: 300px;
        margin-right: 20px;
    }

    .devour {
        width: 80px;
        height: 40px;
    }

    #burgerIn {
        height: 100px;
        min-width: 300px;
        max-width: 500px;
        margin: 0
    }

    textarea {
        resize: none
    }
</style>

<body>
    {{{body}}}
</body>
</html>