body {
    background-color: rgb(255, 204, 0);
}

h1 {
    color: rgb(255, 60, 0)
}

.output {
    max-width: 300px;
}

.munch {
    max-width: 300px;
    margin-right: 20px;
}

.devour {
    width: 80px;
    height: 40px;
}

#burgerIn {
    height: 100px;
    min-width: 300px;
    max-width: 500px;
    margin: 0
}

textarea {
    resize: none
}